<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>


<h1>Posts</h1>

<h2 class="mb-3">Filter by Category</h2>
<%= form_with url: posts_path, method: :get, local: true, class: "mb-4" do %>
  <div class="input-group">
    <%= select_tag :category_id, options_from_collection_for_select(@categories, :id, :name, params[:category_id]),
      include_blank: "All Categories" , class: "form-select" %>
      <%= submit_tag "Filter" , class: "btn btn-primary" %>
  </div>
  <% end %>

    <h2 class="mb-3">Filter by Tag</h2>
    <%= form_with url: posts_path, method: :get, local: true, class: "mb-4" do %>
      <div class="input-group">
        <%= select_tag :tag_id, options_from_collection_for_select(@tags, :id, :name, params[:tag_id]),
          include_blank: "All Tags" , class: "form-select" %>
          <%= submit_tag "Filter" , class: "btn btn-primary" %>
      </div>
      <% end %>


<div id="posts">
  <table class="table">
    <thead>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
      <th scope="col">Published at</th>
      <th scope="col"></th>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.published_at %></td>
        <td>
          <%= link_to "Show", post_path(post), class: "btn btn-primary" %>
          <%= link_to "Edit", edit_post_path(post), class: "btn btn-secondary" %>
          <%= link_to "Delete", post_path(post), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New post", new_post_path, class: "btn btn-primary" %>
